<div class="card card-white">
  <div class="card-header">
    <h1 class="fs-5 py-3 text-center fw-bolder text-primary text-uppercase">
      <i class="fa-solid fa-user me-2"></i>
      Dados do Certificado Digital
    </h1>
  </div>
  <div class="card-body w-100 p-4 m-auto">

    <alert type="danger" [dismissible]="true" (onClosed)="limparErros()" class="text-center anima-alert"
      *ngIf="errors.length > 0">
      <span class="fw-bolder fs-6">Oops...alguma coisa não deu certo:</span> <br>
      <ul>
        <li class="fs-small mt-1">
          {{ errors }}
        </li>
      </ul>
    </alert>

    <div class="info-grid">
      <div class="input-group mb-3">
        <span class="input-group-text fs-6 gap-2 fs-6 gap-2">
          <i class="fa-solid fa-user"></i>
          Nome:
        </span>
        <input type="text" disabled class="form-control form-disable" [value]="voluntario.nome">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text fs-6 gap-2">
          <i class="fa-solid fa-id-card-clip"></i>
          CPF:
        </span>
        <input type="text" disabled class="form-control form-disable" [value]="voluntario.cnpjCpf.numeroInscricao">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text fs-6 gap-2">
          <i class="fa-solid fa-calendar-check"></i>
          Emissão:
        </span>
        <input type="text" disabled class="form-control form-disable" [value]="voluntario.validoAPartirDe | date:'dd/MM/yyyy'">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text fs-6 gap-2">
          <i class="fa-solid fa-calendar-check"></i>
          Validade:
        </span>
        <input type="text" disabled class="form-control form-disable" [value]="voluntario.validoAte | date:'dd/MM/yyyy'">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text fs-6 gap-2">
          <i class="fa-solid fa-building"></i>
          Emissor:
        </span>
        <input type="text" disabled class="form-control form-disable" [value]="voluntario.emissor">
      </div>

      <div>
        <span class="bg-success py-1 px-4 rounded-5 text-white">
          {{ voluntario.status }}
        </span>
      </div>
    </div>
  </div>
</div>