<div class="card card-white">
  <div class="card-header">
    <h1 class="fs-5 py-3 text-center fw-bolder text-primary text-uppercase">
      <i class="fa-solid fa-user"></i>
        Dados do Certificado Digital
    </h1>

  </div>
  <div class="card-body d-flex p-4 m-auto">
    <div class="info-grid d-fe">
      <div class="input-group mb-3">
        <span class="input-group-text fs-6 gap-2 fs-6 gap-2">
          <i class="fa-solid fa-user"></i>
          Nome:
        </span>
        <input  
          type="text" disabled
          class="form-control form-disable"
          [value]="dadosCertificadoDigital.nome">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text fs-6 gap-2">
          <i class="fa-solid fa-id-card-clip"></i>
          CPF:
        </span>
        <input  
          type="text" disabled
          class="form-control form-disable"
          [value]="dadosCertificadoDigital.cpf">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text fs-6 gap-2">
          <i class="fa-solid fa-calendar-check"></i>
          Validade:
        </span>
        <input  
          type="text" disabled
          class="form-control form-disable"
          [value]="dadosCertificadoDigital.validade">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text fs-6 gap-2">
          <i class="fa-solid fa-building"></i>
          Emissor:
        </span>
        <input  
          type="text" disabled
          class="form-control form-disable"
          [value]="dadosCertificadoDigital.diasParaVencimento">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text fs-6 gap-2">
          <i class="fa-solid fa-stopwatch"></i>
          Dias Restantes:
        </span>
        <input  
          type="text" disabled
          class="form-control form-disable"
          [value]="dadosCertificadoDigital.emissor">
      </div>

      <div>
        <span class="bg-success py-1 px-4 rounded-5 text-white">
          {{ dadosCertificadoDigital.status }}
        </span>
      </div>
    </div>
  </div>
</div>

