<div class="modal-header border-0">
  <div
    class="bg-danger text-white fs-5 fw-medium text-uppercase px-4 py-2 rounded w-100 d-flex align-items-center gap-2">
    <i class="fa-solid fa-cirlce-xmark"></i>
    Confirmação
  </div>
</div>

<div class="modal-body text-center">

  <ngb-alert type="danger" (onClosed)="limparErros()" class="text-center anima-alert" *ngIf="errors.length > 0">
    <span class="fw-bolder fs-6">Oops...alguma coisa não deu certo:</span> <br>
    <ul>
      <li class="fs-small mt-1" *ngFor="let error of errors">
        {{error}}
      </li>
    </ul>
  </ngb-alert>


  <p class="fs-5 fw-semibold mb-4">Deseja realmente excluir o voluntário?</p>
  <p class="text-muted small">Esta ação <b>não</b> poderá ser revertida depois, se necessário.</p>
</div>

<div class="modal-footer border-0 d-flex justify-content-center gap-3">
  <button type="button" class="btn btn-danger text-dark px-4" (click)="confirmarExcluirVoluntario()">
    <i class="fa-solid fa-cloud-upload"></i> Excluir
  </button>

  <button type="button" class="btn btn-outline-secondary px-4" (click)="fecharModal()">
    <i class="fa-solid fa-xmark"></i> Cancelar
  </button>

</div>