:host {
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro-container {
  height: 80%;
  width: 80%;
  max-width: 1080px;
  background: var(--gradient-primary);
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .cadastro-content {
    order: 1 !important;

  }
  .cadastro-form {
    order: 2 !important;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-right: 5px solid var(--royal-blue);
    background: var(--gradient-blur);
  }
}
