<section class="identidade">
  <app-fundo-animado></app-fundo-animado>

  <div class="card-form animation-right overflow-hidden">
    <div class="d-flex flex-column justify-content-center gap-4 p-5">
      <h1 class="fs-1 text-primary fw-bolder text-center">Registrar</h1>

      <ngb-alert *ngIf="errors.length > 0" type="danger" [dismissible]="true" (closed)="limparErros()"
        class="text-center anima-alert">
        <span class="fw-bolder fs-6">Oops...alguma coisa não deu certo:</span> <br>
        <ul>
          <li class="fs-small mt-1" *ngFor="let error of errors">
            {{error}}
          </li>
        </ul>
      </ngb-alert>

      <form class="d-flex flex-column " (ngSubmit)="efetuarRegistro()" [formGroup]="registerForm">

        <mat-form-field appearance="outline" class="w-100 mb-2" [ngClass]="{'has-error': displayMessage['cnpj']}">
          <mat-label>
            <i class="fa-solid fa-id-card"></i>
            &nbsp; CNPJ
          </mat-label>
          <input matInput formControlName="cnpj" type="text" placeholder="00.000.000/0000-00" maxlength="17" (keyup)="debounceCnpj.next(inputUtils.getInputValue($event))">
          <mat-error *ngIf="displayMessage['cnpj']" [innerHtml]="displayMessage['cnpj']"> </mat-error>
        </mat-form-field>

        <button type="submit" class="btn btn-primary rounded-5 p-3 mb-2 mt-4">
          Registrar
        </button>
        <p class="text-primary text-center fs-small">Sua Instituição já está cadastrada?
          <span routerLink="/login" class="fw-bolder pointer">Faça Login</span>
        </p>
      </form>
    </div>
  </div>
</section>