:host {
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro-container {
  height: 75vh;
  width: 90vw;
  max-width: 1400px;
}