<div class="card rounded-4 shadow-sm mb-3">
  <div class="card-header rounded-top-4 bg-primary text-white">
    <h1 class="fs-5 fw-bolder text-white">Leitura de QR Code</h1>
  </div>
  <div class="card-body">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>
        <i class="fa-solid fa-qrcode me-2"></i>
        <span>Escaneie o QR Code</span>
      </mat-label>
      <input #qrCodeInput matInput placeholder="Aponte o leitor para o cupom fiscal."
        (keyup)="debounceQrCodeCupomFiscal.next(getInputValue($event))">
    </mat-form-field>
    <mat-error class="fs-small" *ngFor="let error of errors">{{ error }}</mat-error>
  </div>
</div>