<section class="identidade">
  <app-fundo-animado></app-fundo-animado>

  <div class="card-form d-flex flex-column justify-content-center align-items-center gap-4 p-5">
    <div class="bg-primary p-4 rounded-circle mb-1">
      <i class="fa-solid fa-circle-xmark fs-1 text-white"></i>
      
    </div>

    <h1 class="text-primary text-center fw-bolder fs-3">Acesso Negado</h1>
    <div class="text-center text-primary">
      <p>Você não tem permissão para acessar esta página.</p>
      <br>
      <p>Verifique suas credenciais ou entre em contato com o administrador do sistema.</p>
    </div>

    <div class="d-flex gap-2 w-100">
      <button class="btn btn-primary p-3 mt-4 mb-2 w-75" routerLink="/">
        Voltar para o Início
      </button>
      <button class="btn btn-outline-primary p-3 mt-4 mb-2 w-75" routerLink="/login">
        Fazer Login
      </button>
    </div>
  </div>
</section>