:root {
  --royal-blue: #0d2d54;
  --royal-blue-light: #2e4d7a;
  --royal-blue-dark: #081a39;
  --royal-blue-dark-blur: rgba(13, 45, 84, 0.6);
  --sand: #f5deb3;
  --sand-light: #faf0e6;
  --sand-dark: #deb887;
  --sand-dark-two: #be8233;
  --info: #2c3e50;

  --blue: #0081b4;
  --danger: #dc3545;
  --warning: #ffc107;
  --success: #28a745;
}