<header class="header-flutuante">
  <div class="titulo-pagina">
    <div class="fw-medium fs-5">{{ tituloPagina }}</div>
    <div class="d-flex gap-2 fs-small">
      <span>Home</span>
      >
      <span>{{ tituloPagina }}</span>
    </div>
  </div>

  <div class="d-flex align-items-center text-center fs-6 bg-primary-blur bg-primary border border-1 px-4 py-2 rounded-pill text-white">
    <div>
      <span class="fw-bolder">RAZÃO SOCIAL:</span> {{ razaoSocialInstituicao }}
      <span class="mx-2">-</span>
      <span class="fw-bolder"> CNPJ:</span> {{ cnpj | cnpj }}
    </div>
  </div>


  <div class="d-flex align-items-center gap-3">
    <div 
      class="fs-small text-center d-flex align-items-center border border-1 px-3 py-1 rounded-pill mb-1 mt-1" 
      *ngIf="certificadoStatus"
      [ngClass]="{
            'bg-danger': certificadoStatus === 0 || certificadoStatus === 1,
            'bg-warning': certificadoStatus === 2,
            'bg-success': certificadoStatus === 3
            }"
      >
        Certificado:  {{ certificadoStatusNome | titlecase }}
    </div>
    <i class="fa-solid fa-circle-question cursor-pointer"></i>
    <i [matBadge]="15" class="fa-solid fa-bell me-2 cursor-pointer"></i>

    <div [matMenuTriggerFor]="menu"
      class="d-flex align-items-center bg-primary-light rounded-3 py-1 px-3 gap-3 cursor-pointer">
      <div class="d-flex flex-column text-end align-items-end">
        <span>{{ voluntarioNome | titlecase }}</span>
        <span class="text-secondary fs-small text-center mb-1">{{ claimAdmin }}</span>
      </div>


      <div class="avatar-wrapper">
        <img *ngIf="fotoUpload" [src]="fotoUpload" lt="Avatar do usuário" class="rounded-circle avatar-img">
        <i *ngIf="!fotoUpload" class="fa-solid fa-user text-white bg-primary-light p-4"></i>
      </div>
    </div>

    <mat-menu #menu="matMenu" xPosition="before" class="px-4 mt-1">
      <div routerLink="/perfil" class="bg-primary-light text-white px-4 py-1 rounded mb-2 cursor-pointer">
        <i class="fa-solid fa-circle-user me-1"></i>
        Perfil
      </div>
      <div routerLink="/login" class="bg-danger text-white px-4 py-1 rounded mb-2 cursor-pointer">
        <i class="fa-solid fa-right-from-bracket me-2"></i>
        Sair
      </div>
    </mat-menu>

  </div>
</header>