.perfil-imagem{
  width: 100px;
  min-height: 100px !important;
  background: var(--gradient-primary);
  
  .editar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 36px;
    height: 36px;
    transition: 0.5s ease;
  
    &:hover {
      transform: scale(1.05);
    }
  }
}
