<section class="perfil">
  <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
    <li ngbNavItem="perfil">
      <a ngbNavLink>
        <i class="fa-solid fa-user me-2"></i>
        Perfil
      </a>
      <ng-template ngbNavContent>
        <app-editar-perfil></app-editar-perfil>
      </ng-template>
    </li>
    <li ngbNavItem="certificado">
      <a ngbNavLink>
        <i class="fa-solid fa-address-card me-2"></i>
        Certificado Digital
      </a>
      <ng-template ngbNavContent>
        <app-certificado></app-certificado>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="content"></div>
</section>
