:host {
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.esqueceu-a-senha-container {
  width: 80%;
  height: 80%;
  background: var(--gradient-blur);
  max-width: 800px;
  border-radius: 20px;
  border-top: 10px solid var(--royal-blue);
  border-bottom: 10px solid var(--royal-blue);
  border-left: 2px dashed var(--royal-blue);
  border-right: 2px dashed var(--royal-blue);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
