<div class="card-white p-4" style="max-width: 100%;">
  <button class="btn btn-primary mb-4" (click)="cadastrar()">
    <i class="fa-solid fa-circle-plus"></i> &nbsp;
    Incluir Voluntário
  </button>

  <div class="d-flex justify-content-between gap-3 mb-4 p-0">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Filtrar por nome"
        (keyup)="debounceNomeVoluntario.next(inputUtils.getInputValue($event))">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Filtrar por e-mail"
        (keyup)="debounceEmailVoluntario.next(inputUtils.getInputValue($event))">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Acesso</mat-label>
      <mat-select (selectionChange)="alterarFiltroAcesso($event.value)">
        <mat-option [value]="2"></mat-option>
        <mat-option [value]="1">Admin</mat-option>
        <mat-option [value]="0">Voluntário</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Desativado</mat-label>
      <mat-select (selectionChange)="alterarFiltroDesativado($event.value)">
        <mat-option [value]="0">Não</mat-option>
        <mat-option [value]="1">Sim</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <ngb-alert type="danger" (onClosed)="limparErros()" class="text-center anima-alert" *ngIf="errors.length > 0">
    <span class="fw-bolder fs-6">Oops...alguma coisa não deu certo:</span> <br>
    <ul>
      <li class="fs-small mt-1" *ngFor="let error of errors">
        {{error}}
      </li>
    </ul>
  </ngb-alert>

  <div class="shadow-sm rounded p-2">
    <table class="table table-striped table-hover rounded"
      *ngIf="(voluntariosCadastrados?.length ?? 0) > 0; else semVoluntarios">
      <thead class="sticky-top table-secondary">
        <tr>
          <th class="fw-bolder text-primary fs-6 text-center">#</th>
          <th class="fw-bolder text-primary fs-6 text-center">Nome</th>
          <th class="fw-bolder text-primary fs-6 text-center">CPF</th>
          <th class="fw-bolder text-primary fs-6 text-center">E-mail</th>
          <th class="fw-bolder text-primary fs-6 text-center">Status E-mail</th>
          <th class="fw-bolder text-primary fs-6 text-center">Certificado</th>
          <th class="fw-bolder text-primary fs-6 text-center">Acesso</th>
          <th class="fw-bolder text-primary fs-6 text-center">Admin ?</th>
          <th class="fw-bolder text-primary fs-6 text-center">Status</th>
          <th class="fw-bolder text-primary fs-6 text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let voluntario of voluntariosCadastrados">
          <td class="text-center">
            <img *ngIf="voluntario.fotoUpload" [src]="voluntario.fotoUpload" alt="Foto"
              class="img-perfil rounded-circle">
            <button *ngIf="!voluntario.fotoUpload" class="btn btn-primary rounded-5" disabled [matMenuTriggerFor]="menu">
              <i class="fa-solid fa-user"></i>
            </button>
          </td>

          <td class="text-center"> {{ voluntario.nome | titlecase}}</td>
          <td class="text-center">{{ voluntario.cpf | cpf }}</td>
          <td class="text-center">{{ voluntario.email }}</td>

          <td class="text-center">
            <span class="badge rounded-pill px-3 py-2"
              [ngClass]="voluntario.emailConfirmado ? 'bg-primary' : 'bg-warning'">
              {{ voluntario.emailConfirmado ? 'Confirmado' : 'Não Confirmado'}}
            </span>
          </td>

          <td class="text-center" *ngIf="voluntario.certificadoStatus">
            <span class="badge rounded-pill px-3 py-2" [ngClass]="{
              'bg-danger': voluntario.certificadoStatus === 0 || voluntario.certificadoStatus === 1,
              'bg-warning': voluntario.certificadoStatus === 2,
              'bg-success': voluntario.certificadoStatus === 3
              }">
              {{ voluntario.certificadoStatusNome | titlecase }}
            </span>
          </td>

          <td class="text-center" *ngIf="!voluntario.certificado">
            <span class="badge rounded-pill px-3 py-2 bg-danger">
              Não Cadastrado
            </span>
          </td>

          <td class="text-center">
            <span class="badge rounded-pill px-3 py-2"
              [ngClass]="voluntario.administrador ? 'bg-primary' : 'bg-secondary'">
              {{ voluntario.administrador ? 'Admin' : 'Voluntário' }}
            </span>
          </td>

          <td class="text-center">
            <mat-slide-toggle class="mat-slide-toggle-small" [checked]="voluntario.administrador"
              (change)="habilitarVoluntarioAdm(voluntario, $event)">
            </mat-slide-toggle>
          </td>

          <td class="text-center">
            <span class="badge rounded-pill px-3 py-2" [ngClass]="voluntario.desativado ? 'bg-danger' : 'bg-success'">
              {{ voluntario.desativado ? 'Desativado' : 'Ativo' }}
            </span>
          </td>


          <td class="text-center">
            <button class="btn btn-primary rounded-5" [matMenuTriggerFor]="menu">
              <i class="fa-solid fa-ellipsis"></i>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="desativar(voluntario)" *ngIf="!voluntario.desativado">
                <i class="fa-solid fa-user-slash text-danger"></i> &nbsp;
                Desativar Voluntário
              </button>

              <button mat-menu-item (click)="ativar(voluntario)" *ngIf="voluntario.desativado">
                <i class="fa-solid fa-user-check text-success"></i> &nbsp;
                Ativar Voluntário
              </button>

              <button mat-menu-item (click)="enviarConfirmarEmail(voluntario)"
                *ngIf="!voluntario.desativado && !voluntario.emailConfirmado">
                <i class="fa-solid fa-envelope text-warning"></i> &nbsp;
                Enviar Confirmar E-mail
              </button>

              <button mat-menu-item (click)="enviarDefinirSenha(voluntario)" *ngIf="!voluntario.desativado">
                <i class="fa-solid fa-key text-info"></i> &nbsp;
                Enviar Definir Senha
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #semVoluntarios>
      <div class="text-center mt-3">
        Nenhum voluntário encontrado.
      </div>
    </ng-template>
  </div>

</div>