<div class="modal-header border-0">
  <div
    class="bg-warning text-white fs-5 fw-medium text-uppercase px-4 py-2 rounded w-100 d-flex align-items-center gap-2">
    <i class="fa-solid fa-triangle-exclamation"></i>
    Confirmação
  </div>
</div>

<div class="modal-body text-center">
  <ngb-alert type="danger" (closed)="limparErros()" class="text-center anima-alert" *ngIf="errors.length > 0">
    <span class="fw-bolder fs-6">Oops...alguma coisa não deu certo:</span> <br>
    <ul>
      <li class="fs-small mt-1" *ngFor="let error of errors">
        {{error}}
      </li>
    </ul>
  </ngb-alert>

  <p class="fs-5 fw-semibold mb-4">
    Deseja realmente desativar o voluntário 
    <span class="text-primary">"{{ voluntario.nome }}"</span>?
  </p>
  <p class="text-muted small">Esta ação poderá ser revertida depois, se necessário.</p>
</div>

<div class="modal-footer border-0 d-flex justify-content-center gap-3">
  <button type="button" class="btn btn-warning text-dark px-4" (click)="confirmarInativarVoluntario()">
    <i class="fa-solid fa-user-slash"></i> Desativar
  </button>

  <button type="button" class="btn btn-outline-secondary px-4" (click)="fecharModal()">
    <i class="fa-solid fa-xmark"></i> Cancelar
  </button>
</div>