<div class="d-flex bg-secondary login-container">
  <div class="d-flex flex-column justify-content-center col-5 px-5 bg-white login-form">
    <div class="logo-parametriz w-100 mb-3">
      <img src="/assets/logo/logo-blue.png" class="w-100">
    </div>
    <div class="d-flex flex-column gap-1 text-center">
      <h1 class="text-dark fs-3 fw-bolder">Bem-vindo de volta!</h1>
      <p class="fs-6 fw-semibold text-secondary mb-5">Entre na sua conta para continuar automatizando</p>
    </div>
    <form class="d-flex flex-column" [formGroup]="loginForm">
      <mat-form-field appearance="outline" class="mb-4">
        <mat-label>
          <i class="fa-solid fa-envelope"></i>
          &nbsp;E-mail
        </mat-label>
        <input matInput formControlName="email" type="email" placeholder="seu@email.com">
        <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
          E-mail é obrigatório.
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">
          E-mail inválido.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="mb-1">
        <mat-label>
          <i class="fa-solid fa-lock"></i>
          &nbsp;Senha
        </mat-label>
        <input matInput formControlName="senha" type="password" placeholder="••••••••">
        <mat-error *ngIf="loginForm.get('senha')?.errors?.['required']">
          Senha é obrigatória.
        </mat-error>
        <mat-error *ngIf="loginForm.get('senha')?.errors?.['minlength']">
          Senha deve conter pelo menos 8 caracteres.
        </mat-error>
      </mat-form-field>
      <div class="d-flex justify-content-between">
        <label class="d-flex align-items-center text-primary fs-small">
          <input type="checkbox">
          <span class="checkmark"></span>
          &nbsp; Lembrar de mim
        </label>
        <a href="#" class="forgot-password fs-small">Esqueceu a senha?</a>
      </div>
      <button class="btn btn-primary p-3 mt-4 mb-2" (click)="fazerLogin()">
        Entrar
      </button>
      <p class="text-primary text-center fs-small">Não tem um conta?
        <span class="fw-medium">Cadastre-se agora</span>
      </p>
    </form>
  </div>

  <div class="d-flex flex-column justify-content-evenly login-content text-white p-5 ">
    <h1 class="fs-2 fw-bolder">Automatize, Otimize e Cresça.</h1>
    <p class="fs-6 fw-semibold text-light">Junte-se a milhares de empresas que já transformaram seus projetos com nossa
      plataforma.</p>
    <mat-card class="bg-primary-light p-3">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="text-white fs-5 fw-medium">Kevin Silva</mat-card-title>
        <mat-card-subtitle class="text-light fs-6">Confudador, Parametriz</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="mt-2">
        <p class="fst-italic">
          "O AutoNFP reduziu nosso tempo de processamento em 80% e eliminou completamente todos erros
          manuais."
        </p>
      </mat-card-actions>
    </mat-card>
    <ul class="p-0 d-flex flex-column gap-2">
      <li>
        <i class="fa-solid fa-circle-check text-success"></i>
        Configuração em minutos
      </li>
      <li>
        <i class="fa-solid fa-circle-check text-success"></i>
        Suporte 24/7
      </li>
      <li>
        <i class="fa-solid fa-circle-check text-success"></i>
        Segurança enterprise
      </li>
    </ul>
    <div class="logo-parametriz w-100">
      <img src="/assets/logo/logo-white.png" class="w-50"> 
    </div>
  </div>
</div>