<div class="card card-white ">
  <div class="card-header">
    <h1 class="fs-5 py-3 text-center fw-bolder text-primary text-uppercase">
      <i class="fa-solid fa-address-card me-2"></i>
      Importe seu Certificado Digital
    </h1>
  </div>

  <div class="card-body py-4 w-75 m-auto">
    <form [formGroup]="voluntarioForm">

      <ngb-alert type="danger" (onClosed)="limparErros()" class="text-center anima-alert" *ngIf="errors.length > 0">
        <span class="fw-bolder fs-6">Oops...alguma coisa não deu certo:</span> <br>
        <ul>
          <li class="fs-small mt-1" *ngFor="let error of errors">
            {{error}}
          </li>
        </ul>
      </ngb-alert>

      <div class="upload-area border rounded p-4 text-center bg-light cursor-pointer mb-3"
        style="border: 2px dashed var(--royal-blue) !important;" (click)="fileInput.click()"
        (dragover)="isArquivoArrastado = true; $event.preventDefault()" (dragleave)="isArquivoArrastado = false"
        (drop)="upload($event)">
        <i class="fa-solid fa-cloud-upload fs-1 text-muted d-block mb-2"></i>
        <h1 class="fs-6">Selecionar Certificado (.pfx)</h1>
        <small class="text-muted fs-small">Clique aqui ou arraste o arquivo</small>
        <input #fileInput type="file" class="d-none" accept=".pfx,.p12" (change)="upload($event)" autocomplete="off">
      </div>

      <div class="d-flex flex-column ">

        <mat-form-field appearance="outline" class="mb-3 cursor-pointer" (click)="fileInput.click()"
          [ngClass]="{'has-error': displayMessage['certificado']}">
          <mat-label>
            <i class="fa-solid fa-address-card me-1"></i>
            Certificado
          </mat-label>
          <input matInput formControlName="certificado" class="overflow-hidden">
          <mat-error *ngIf="displayMessage['certificado']" [innerHtml]="displayMessage['certificado']"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mb-3 cursor-pointer"
          [ngClass]="{'has-error': displayMessage['entidadeNomeNFP']}">
          <mat-label>
            <i class="fa-solid fa-landmark me-1"></i>
            Nome da Entidade
          </mat-label>
          <input matInput formControlName="entidadeNomeNFP" class="overflow-hidden">

          <button 
              mat-icon-button matSuffix matButton="elevated" 
              matTooltipPosition="above" matTooltip="O nome da instituição deve estar exatamente igual ao portal da NFP" 
              type="button" class="btn">
            <i class="fa-solid fa-circle-info"></i>
          </button>

          <mat-error *ngIf="displayMessage['entidadeNomeNFP']"
            [innerHtml]="displayMessage['entidadeNomeNFP']"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mb-1 cursor-pointer"
          [ngClass]="{'has-error': displayMessage['senha']}">
          <mat-label>
            <i class="fa-solid fa-lock me-1"></i>
            Senha
          </mat-label>

          <input matInput formControlName="senha" [type]="verSenha ? 'text' : 'password'" placeholder="••••••••"
            class="overflow-hidden" autocomplete="new-password">

          <button mat-icon-button matSuffix type="button" class="btn" (click)="verSenha = !verSenha">
            <i class="fa-solid" [ngClass]="verSenha ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>

          <mat-error *ngIf="displayMessage['senha']" [innerHtml]="displayMessage['senha']"></mat-error>
        </mat-form-field>

      </div>

    </form>
  </div>

  <div class="card-footer" (click)="efetuarCadastroCertificadoVoluntario()">
    <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary py-2 px-4 rounded-5">
          {{ temVoluntario ? 'Atualizar Certificado' : 'Cadastrar Certificado' }}
        </button>
      </div>
    </div>
  </div>
</div>