<div class="card card-white" *ngIf="certificado">
  <div class="card-header">
    <h1 class="fs-5 py-3 text-center fw-bolder text-primary text-uppercase">
      <i class="fa-solid fa-user me-2"></i>
      Dados do Certificado 
    </h1>
  </div>
  <div class="card-body w-100 p-5 m-auto">

    <ngb-alert type="danger" (closed)="limparErros()" class="text-center anima-alert" *ngIf="errors.length > 0">
      <span class="fw-bolder fs-6">Oops...alguma coisa não deu certo:</span> <br>
      <ul>
        <li class="fs-small mt-1" *ngFor="let error of errors">
          {{error}}
        </li>
      </ul>
    </ngb-alert>

    <div class="info-grid">

      <div class="input-group mb-3">
        <span class="input-group-text fs-6 gap-2 fs-6 gap-2">
          <i class="fa-solid fa-user"></i>
          Instituição:
        </span>
        <input type="text" disabled class="form-control form-disable" [value]="instituicao">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text fs-6 gap-2 fs-6 gap-2">
          <i class="fa-solid fa-user"></i>
          Requerente:
        </span>
        <input type="text" disabled class="form-control form-disable" [value]="certificado.requerente">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text fs-6 gap-2">
          <i class="fa-solid fa-calendar-check"></i>
          Emissão:
        </span>
        <input type="text" disabled class="form-control form-disable"
          [value]="certificado.validoAPartirDe | date:'dd/MM/yyyy'">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text fs-6 gap-2">
          <i class="fa-solid fa-calendar-check"></i>
          Validade:
        </span>
        <input type="text" disabled class="form-control form-disable"
          [value]="certificado.validoAte | date:'dd/MM/yyyy'">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text fs-6 gap-2">
          <i class="fa-solid fa-building"></i>
          Emissor:
        </span>
        <input type="text" disabled class="form-control form-disable" [value]="certificado.emissor">
      </div>

      <div>
        <span class="bg-success py-1 px-4 rounded-5 text-white">
          {{ certificado.statusNome }}
        </span>
      </div>
    </div>

  </div>

  <div class="card-footer">
    <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-center">
        <button (click)="confirmarRemoverVolunatario()" class="btn fw-medium btn-danger py-2 px-4 rounded-5">
          Excluir Voluntário
        </button>
      </div>
    </div>
  </div>
</div>