<section id="perfil" class="content w-100 h-100 d-flex justify-content-center align-items-start p-5" *ngIf="voluntario">

  <div class="card card-white p-5 overflow-hidden d-flex flex-column justify-content-center align-items-center" style="height: auto !important;">

    <div class="perfil-imagem cursor-pointer" (click)="inputFile.click()">
      <img *ngIf="voluntario.fotoUpload" [src]="voluntario.fotoUpload" alt="Foto do usuário" class="perfil-img">
      <i *ngIf="!voluntario.fotoUpload" class="fa-solid fa-user fs-1"></i>

        <i class="fa-solid fa-pencil editar-icone"></i>
    </div>
    <input type="file" #inputFile (change)="uploadImagem($event)" hidden accept="image/*">
 
    <div class="text-center mt-2">
      <h1 *ngIf="voluntario" class="fs-4 fw-medium mb-2">{{ voluntario.nome | titlecase }}</h1>
      <h1 *ngIf="voluntario" class="fs-6 text-secondary">{{ voluntario.email }}</h1>
    </div>

    <button class="btn btn-primary rounded-5 fs-6 fw-medium my-3">Plano Master</button>

    <ngb-alert type="danger" (onClosed)="limparErros()" class="text-center anima-alert" *ngIf="errors.length > 0">
      <span class="fw-bolder fs-6">Oops...alguma coisa não deu certo:</span> <br>
      <ul>
        <li class="fs-small mt-1" *ngFor="let error of errors">
          {{error}}
        </li>
      </ul>
    </ngb-alert>

    <form [formGroup]="perfilForm" *ngIf="voluntario">
      <mat-form-field class="w-100 mb-3" appearance="outline" [ngClass]="{'has-error': displayMessage['nome']}">
        <mat-label>
          <i class="fa-solid fa-user"></i>
          &nbsp; Nome Usuário
        </mat-label>
        <input matInput formControlName="nome" type="text" placeholder="Digite o nome do Usuário">
        <mat-error *ngIf="displayMessage['nome']" [innerHtml]="displayMessage['nome']"> </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-1">
        <mat-label>
          <i class="fa-solid fa-envelope"></i>
          &nbsp; E-mail
        </mat-label>
        <input disabled matInput type="email" placeholder="seuemail@aqui.com.br" [value]="voluntario.email">
      </mat-form-field>

      <div class="d-flex justify-content-end mt-3">
        <button (click)="efetuarEditarVoluntario()" type="submit" class="btn btn-primary px-4">
          Salvar
        </button>
      </div>
    </form>

  </div>

</section>