<!-- Botão Cadastrar -->
 <button class="btn btn-primary" (click)="cadastrar()">
  <i class="fa-solid fa-circle-plus"></i> &nbsp;
  Incluir Usuário
</button>

<!-- Filtros -->
<div class="d-flex justify-content-between gap-3 mb-4 p-0">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Filtrar por nome" (keyup)="debounceNomeUsuario.next(getInputValue($event))">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="Filtrar por e-mail" (keyup)="debounceEmailUsuario.next(getInputValue($event))">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100" >
    <mat-label>Acesso</mat-label>
    <mat-select (selectionChange)="alterarFiltroAcesso($event.value)" panelClass="acesso-select-panel">
      <mat-option [value]="2"></mat-option>
      <mat-option [value]="1">Sim</mat-option>
      <mat-option [value]="0">Não</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100" >
    <mat-label>Desativado</mat-label>
    <mat-select (selectionChange)="alterarFiltroDesativado($event.value)" panelClass="acesso-select-panel">
      <mat-option [value]="0">Não</mat-option>
      <mat-option [value]="1">Sim</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Tabela -->
<div>
  <table class="table" *ngIf="usuariosCadastrados && usuariosCadastrados.length > 0; else semUsuarios">
    <thead class="sticky-top ">
      <tr>
        <th>NOME</th>
        <th>E-MAIL</th>
        <th>ACESSO</th>
        <th>STATUS</th>
        <th>AÇÕES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuariosCadastrados">
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.email.conta }}</td>
        <td>{{ usuario.administrador ? 'Admin' : 'Usuário'}}</td>
        <td>{{ usuario.desativado ? 'Intivo' : 'Ativo' }}</td>
        <td>
          <button class="btn btn-primary" [matMenuTriggerFor]="menu">
            <i class="fa-solid fa-ellipsis"></i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="inativarUsuario(usuario)" *ngIf="!usuario.desativado">
              <i class="fa-solid fa-user-slash"></i> &nbsp;
              Inativar Usuário
            </button>
            <button mat-menu-item (click)="ativarUsuario(usuario)" *ngIf="usuario.desativado">
              <i class="fa-solid fa-user-check"></i> &nbsp;
              Ativar Usuário
            </button>
            <button mat-menu-item>
              <i class="fa-solid fa-circle-plus"></i>
            </button>
          </mat-menu>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #semUsuarios>
    <div class="text-center mt-3">
      Nenhum usuário encontrado.
    </div>
  </ng-template>
</div>