<section class="identidade">
  <app-fundo-animado></app-fundo-animado>

  <div class="card-form animation-right d-flex flex-column justify-content-center p-5 overflow-hidden">
    <div class="d-flex justify-content-center mb-3">
      <img src="/assets/logo/logo-blue.png" class="w-100">
    </div>
    <div class="d-flex flex-column gap-4 mb-5">
      <h1 class="fs-1 text-primary fw-bolder text-center">Login</h1>

      <ngb-alert type="danger" (closed)="limparErros()" class="text-center " *ngIf="errors.length > 0">
        <span class="fw-bolder fs-6">Oops...alguma coisa não deu certo:</span> <br>
        <ul>
          <li class="fs-small mt-1" *ngFor="let error of errors">
            {{error}}
          </li>
        </ul>
      </ngb-alert>

      <form class="d-flex flex-column" (ngSubmit)="efetuarLogin()" [formGroup]="loginForm">
        <mat-form-field class="mb-3" appearance="outline" [ngClass]="{'has-error': displayMessage['email']}">
          <mat-label>
            <i class="fa-solid fa-envelope"></i>
            &nbsp;E-mail
          </mat-label>
          <input matInput formControlName="email" type="email" placeholder="seu@email.com">
          <mat-error *ngIf="displayMessage['email']" [innerHtml]="displayMessage['email']"> </mat-error>
        </mat-form-field>

        <mat-form-field class="mb-1" appearance="outline" [ngClass]="{'has-error': displayMessage['senha']}">
          <mat-label>
            <i class="fa-solid fa-lock"></i>
            &nbsp;Senha
          </mat-label>
          <input matInput formControlName="senha" [type]="verSenha ? 'text' : 'password'  " placeholder="••••••••">
          <button mat-icon-button matSuffix type="button" class="btn" (click)="verSenha = !verSenha">
            <i class="fa-solid" [ngClass]="verSenha ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
          <mat-error *ngIf="displayMessage['senha']" [innerHtml]="displayMessage['senha']"> </mat-error>
        </mat-form-field>

        <div class="d-flex justify-content-between mb-3">
          <a routerLink="/esqueceu-a-senha" class="esqueceu-senha fs-small"
            [queryParams]="{ email: loginForm.get('email')?.value}">Esqueceu a senha?
          </a>
        </div>

        <button type="submit" class="btn btn-primary rounded-5 p-3">
          Entrar
        </button>

        <!-- <p class="text-primary text-center fs-small">Não tem um conta?
          <span routerLink="/registrar" class="fw-bolder crus">Cadastre-se agora</span>
        </p> -->
      </form>
    </div>
  </div>
</section>