<section class="configuracoes">
  
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <!--da para fazer mesmo esquece de ngfor do menu-->
      <li [ngbNavItem]="'voluntario'">
        <a ngbNavLink [routerLink]="['/configuracoes/voluntario']">
          Voluntário &nbsp;
          <i class="fa-solid fa-user"></i>
        </a>
      </li>
      <li [ngbNavItem]="'voluntario2'">
        <a ngbNavLink [routerLink]="['/configuracoes/voluntario2']">
          Usuários &nbsp;
          <i class="fa-solid fa-users"></i>
        </a>
      </li>
    </ul>

  
    <div class="configuracoes-content">
      <router-outlet></router-outlet>
    </div>
</section>
