<section class="configuracoes">
  <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">

    <li ngbNavItem="instituicao">
      <a ngbNavLink>
        <i class="fa-solid fa-building me-2"></i>
        Instituição
      </a>
      <ng-template ngbNavContent>
        <app-instituicao></app-instituicao>
      </ng-template>
    </li>

    <li ngbNavItem="usuario">
      <a ngbNavLink>
        <i class="fa-solid fa-people-group me-2"></i>
        Voluntários
      </a>
      <ng-template ngbNavContent>
        <app-voluntario></app-voluntario>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="content"></div>
</section>
