<div class="definir-senha d-flex">
  <div class="definir-senha-form d-flex flex-column justify-content-center px-5 bg-white">
    <form class="d-flex flex-column">
      <mat-form-field appearance="outline">
        <mat-label>
          <i class="fa-solid fa-lock"></i>
          &nbsp; Nova Senha
        </mat-label>
        <input matInput formControlName="senha" type="password" placeholder="Digite a nova senha">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>
          <i class="fa-solid fa-lock"></i>
          &nbsp; Confirmar Nova Senha
        </mat-label>
        <input matInput formControlName="senhaConfirmacao" type="password" placeholder="Confirme a nova senha">
      </mat-form-field>
    </form>
  </div>
</div>