<div class="modal-header">
  Inativar {{ usuario.nome }}

  <alert type="danger" [dismissible]="true" (onClosed)="limparErros()" class="text-center anima-alert" *ngIf="errors.length > 0">
    <span class="fw-bolder fs-6">Oops...alguma coisa não deu certo:</span> <br>
    <ul>
      <li class="fs-small mt-1">
        {{ errors }}
      </li>
    </ul>
  </alert>
  
</div>
<div class="modal-body">
  <button class="btn btn-primary" (click)="fecharModal()">Sair</button>
  <button class="btn btn-danger" (click)="confirmarInativarUsuario()">Inativar</button>
</div>